<% if @games %>
	<h2>Your Games</h2>
	<table>
	  <thead>
	    <th>Last Saved</th>
	    <th>Load Game</th>
	    <th>Score</th>
	  </thead>
	  <% @games.each do |game| %>
	    <tr>
	      <td><%= game.updated_at.to_formatted_s(:long) %></td>
	      <td><a class="loadGame" data-gameID="<%= game.id %>">Reload</a></td>
	      <td><%= game.score %></td>
	    </tr>
	  <% end %>
	</table>
<% end %>