<div>
  <% if current_user %>
    <%= render "shared/nav" %>
    <%= render file: "public/game.html" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
