<%= render "shared/nav" %>

<h1 class="leaderboard-header">Leaderboard</h1>

<div class= "leaderboard">
  <table>
    <tr>
      <th>Rank</th>
      <th>Score</th>
      <th>Name</th>
    </tr>
    <% num = 1 %>
    <% @games.each do |game| %>
      <tr>
        <td class="rank"><%= num %></td>
        <td class="score"><%= game.score %></td>
        <td class="name"><%= game.user.name %></td>
      </tr>
      <% num += 1 %>
    <% end %>
  </table>
</div>
