// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.leaderboard {
margin-top: 80px;
width: 250px;
margin-left: auto;
margin-right: auto;
}

.leaderboard-header {
  width: 220px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}

.rank {
  width: 100px;
}

.score {
  width: 100px;
}

.name {
  width: 400px;
}
