// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  background-color: red;
}


.game-list {
  margin-top: 80px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.game-num {
  width: 100px;
}

.game-score {
  width: 100px;
}

.game-time {
  width: 200px;
}

.game-num a, .game-time a, .game-score a {
  font-size: 16px;
}
.game-num a:hover, .game-time a:hover, .game-score a:hover {
  text-decoration: none;
  color: #000;
}
