<% if @current_user %>
  <ul>
    <li><%= link_to 'Logout', 'logout', method: :post %></li>
    <li>Welcome <%= @current_user.username %> </li>
    <li class="right save">Save Game</li><!-- make this a link to save your game  -->
    <li class="right">Top Score: 200</li> <!-- make this a link to all time top scores  -->
  </ul>
<% else %>
  <ul>
    <li><%= link_to 'Sign in with Github', '/auth/github' %></li>
    <li class="right">Top Score: 200</li> <!-- make this a link to all time top scores  -->
  </ul>
<% end %>
