<ul>
  <li><%= link_to 'Logout', 'logout', method: :post %></li>
  <li><%= link_to 'Sign in with Github', '/auth/github' %></li>
  <li class="right">My Saved Games</li><!-- make this a link your saved games  -->
  <li class="right">Top Score: 200</li> <!-- make this a link to all time top scores  -->
</ul>
